@media (orientation:portrait) {
    body {
        font-size: 2vw;
    }
    h3 {
        width: 50vw;
    }
}

@media (orientation:landscape) {
    body {
        font-size: 2vh;
    }
    h3 {
        width: 50vh;
    }
}

body {
    background: #f2f7dc;
    scrollbar-gutter: stable both;
    display: flex;
    flex-direction: column;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

div {
    margin: 5vh auto;
    /*font-size: 2vh;*/
}

label {
    display: block;
}

.mem {
    margin: 0;
    color: #23851a;
}

.pop-up {
    pointer-events: none;
    display: flex;
    width: 0;
    margin: 0 auto;
    transition: 1s;
}

h3 {
    /*width: 50vw;*/
    display: inline-block;
}

i {
    display: inline-block;
    visibility: hidden;
}

input[type="radio"] {
    visibility: hidden;
}

input[type="radio"]:checked~.pop-up {
    width: 30vh;
    transform: scale(1);
}

input[type="radio"]:checked~i {
    visibility: visible;
}

@media (hover: none) {}

@media (hover: hover) {
    div:hover .mem {
        color: #000;
        cursor: pointer;
    }
    div:hover i {
        visibility: visible;
    }
    div:hover .mem:active {
        color: #23851a;
    }
    .mem:hover .pop-up {
        width: 30vh;
        transform: scale(1);
    }
}