body {
    background: #f2f7dc;
    font-size: 1em;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

div {
    margin: 5% auto;
    font-size: 2vh;
}

div:hover .mem {
    color: #000;
    cursor: pointer;
}

div:hover .mem:active {
    color: #23851a;
}

.mem {
    margin: 0;
    width: ;
    color: #23851a;
}

img {
    pointer-events: none;
    display: none;
}

h3::after {
    max-width: 90%;
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #23851a;
}

.mem:hover img {
    width: 30vh;
    display: block;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}