body {
    background: #f2f7dc;
    font-size: 1em;
    overflow-y: hidden;
}

div {
    width: 70vh;
    margin: 10% auto;
    font-size: 2vh;
    -webkit-user-select: none;
}

div:hover .mem {
    color: #000;
    cursor: pointer;
}

div:hover .mem:active {
    color: #23851a;
}

.mem {
    margin: 0;
    text-decoration: none;
    max-width: max-content;
    width: 70vw;
    color: #23851a;
    text-align: left;
}

img {
    pointer-events: none;
    display: none;
}

h3::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #23851a;
}

.mem:hover img {
    width: 30vh;
    display: block;
}